/* Couleurs de ta charte */
:root {
  --primary: #F7F2E9;
  --secondary: #ecdcc9;
  --dark: #e0cb8f;
  --darker: #7A1E2C;
  --shadow: #c49a28;
  --bg: #F6F3F4;
  --text-main: #1A1A1A;
  --text-link: #7A1E2C;
  --font: "Inria serif", system-ui, sans-serif;        /* "pile de police système" dans l'ordre. "system-ui" pour utiliser la police par défaut si besoin */
}
/*
.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}
*/
.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}
/*
.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}
*/
.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.marque {
  color: var(--darker);
}


/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  margin: 0;                    /* body centré dans la fenêtre */
}


body {
  background: var(--bg);
  font-family: var(--font);
  font-style: italic;
  font-size: 1.05rem;
  line-height: 1.6;
  text-align: justify;
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  min-height: 100vh;       /* pour que le body prenne toute la hauteur de la fenêtre */
}

.main {
  flex: 1 0 auto;              /* pour que le main prenne tout l'espace disponible (entre header et footer) */
}



h1, h2, h3 {
  font-family: var(--font);
  font-style: italic;
  margin-top: 0;
  text-shadow: 1px 1px 1px var(--shadow);
}

h1 {
  font-weight: 700;
}

h2, h3 {
  font-weight: 350;
}



a {
  color: var(--text-link);            /* par défaut, les liens ne sont pas soulignés*/
  text-decoration: none;
}

a:hover {
  text-decoration: underline;          /* par défaut, les liens sont soulignés quand on les survole */
}

.container {                         /* adapté pour tous les containers de la page (header, footer, etc.) */
  width: min(1440px, 100% - 2rem);   
  margin: 0 auto;
}





/* HEADER */

.topbar-inner {                    /* mise en page interne du header (=layout) */
  display: flex;                   /* pour mettre sur une seule ligne */
  justify-content: flex-end;       /* pour les aligner à droite */
  padding: 1.5rem 0;               /* pour donner de la hauteur */
  background: var(--darker);
}

.topnav {
  display: flex;
  gap: 2rem;                       /* espacement entre les mots de la topbar */
}

.topnav-link {                     
  color: var(--primary);
}

.topnav-link:last-child {
  margin-right: 1rem;
}

.topnav-link.active {               /* permet d'avoir le lien qui reste souligné si c'est la page sur laquelle on est (page "active") */
  text-decoration: underline;
}

/* HERO sous le logo------------------------------------------------------------------- */

.hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between; /* avoir logo à gauche et texte à droite */
  background: var(--dark);
}

/* LOGO ------------------------------------------------------------------- */


.logo-card {
  position: relative;
  top: 40px;                       /* je décale ma carte logo vers le bas */
  left: 50px;                       /* je décale ma carte logo vers la droite */
  width: 230px;
  height: 230px;
  background-color: transparent;
  border-radius: 20px;
  transform: rotate(-8deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-card img {   
  width: 130%;              /* pour que le logo occupe tout la carte  */
  height: auto;
  transform: translate(-12%, -8%);  /* décale un peu vers la gauche pour recentrer */
}



/* HERO (titre) ------------------------------------------------------------------- */

.hero-title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;      /* largeur du bloc texte */
  margin-left: auto;
  margin-right: 8rem;    /* pour décaler le bloc vers la gauche */
  gap: 0.5rem;           /* espace fixe entre le titre et le sous-titre */
}

.hero-title {
  font-size: 2.3rem;
  margin: 0;             /* suppresion des marges par défaut */
}

.hero-subtitle {
  font-size: 1.4rem;
  margin: 0;
}





/* FOND ------------------------------------------------------------------- */

.page-inner {
  background: var(--primary);
}

.separation {
  height: 8px;
  width: 100%;
  background-color: var(--color);
}

.separation.primary {
  --color: var(--primary);
}

.separation.secondary {
  --color: var(--secondary);
}

.separation.dark {
  --color: var(--dark);
}

.separation.darker {
  --color: var(--darker);
  
}

.separation.shadow {
  --color: var(--shadow);
}



/* SECTIONS GÉNÉRALES ------------------------------------------------------------------- */

.section-block {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section-alt {
  background: var(--dark);
  padding: 2rem 3rem;
}

.section-title-center {
  text-align: center;
  margin-bottom: 1.5rem;
  font-style: light;
  font-size: 1.8rem;
}

/* Layout pour textes + images ------------------------------------------------------------------- */

.section-block-top,
.section-block-bottom {
  display: flex;
  justify-content: space-between;
  gap:4rem;     /* espace entre le bloc de texte et le bloce de l'image */
  margin-left: 3rem;
  margin-right: 3rem;
}

.section-block-top {
  margin-bottom: 2rem;
}

.section-alt .section-block-top,
.section-alt .section-block-bottom {
  margin-left: 0rem;
  margin-right: 0rem;
}

.section-tight .section-title-center {
  margin-top: -1.3rem;
}


.section-text-card,
.section-image-card,
.photo-wrapper {
  height: 100%
}





/* POUR LES PHOTOS ------------------------------------------------------------------- */
.photo-wrapper {
  position: relative;                      /* positionne les cartes entre elles (photo et bloc text)*/
  width: 600px;                            /* taille de mon contenant pour l'image */
  aspect-ratio: 4 / 3;                       /* ratio de l'image (largeur / hauteur) */;
}

.section-block:not(.section-alt) .photo-wrapper {
  width: 800px;
}

/* Carte du fond (ombre) */
.photo-back {
  position: absolute;
  inset: 0;                               /* prendre toute la taille du wrapper */
  background-color: var(--shadow);                  
  border-radius: 16px;                    
  transform: translate(-14px, 14px);       /* décalage de la carte (bas + gauche)*/
}
.section-block:not(.section-alt) .photo-back {
  background-color: var(--dark);
}




/* Carte de devant */
.photo-front {
  position: absolute;
  inset: 0;
  background-color: var(--primary);
  border-radius: 16px;
  overflow: hidden;         /* pour que la card du dessus ait aussi les coins arrondis (et du coup la photo) */
}

/* Image par dessus (sur la carte de devant) */
.photo-front img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;           /* recadrer */
}


/* même chose POUR LE LOGO ---------------------------------------------------- */


/* Carte du fond (ombre) */
.logo-back {
  position: absolute;
  inset: 0;                               /* prendre toute la taille du wrapper */
  background-color: var(--shadow);                  
  border-radius: 16px;                    
  transform: translate(-14px, 14px);       /* décalage de la carte (bas + gauche)*/
}

/* Carte de devant */
.logo-front {
  position: absolute;
  inset: 0;
  background-color: var(--primary);
  border-radius: 16px;
  overflow: hidden;         /* pour que la card du dessus ait aussi les coins arrondis (et du coup la photo) */
}





/*  */

.section-text-card {
  background: var(--secondary);
  border-radius: 12px;
  padding: 1.2rem 1.5rem;
  
  font-size: 1.2rem;
  line-height: 1.8;

  display:flex;
  flex-direction: column;
  justify-content: center;
}



.section-image-card {
  background: var(--secondary);
  border-radius: 12px;
  padding: 0.5rem;
  aspect-ratio: 4 / 3;               /* taille de TOUTES les images  */
  overflow: hidden;
}

.section-image-card img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}





/* BLOC3 */

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.2rem;
  padding: 0 1rem;
}

.review-card {
  background: var(--dark);
  border-radius: 12px;
  padding: 1rem 1.1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  font-size: 1rem;
}

.review-title {
  margin: 0 0 0.3rem;
  font-size: 0.95rem;
}

.review-stars {
  margin: 0 0 0.4rem;
  color: var(--shadow);
  font-size: 0.9rem;
}

.review-text {
  margin: 0;
}






/* FOOTER */


.footer-inner {
  display: grid !important;
  grid-template-columns: 1.5fr 1fr 1.5fr !important;
  gap: 1.5rem !important;
  padding: 1.2rem 1rem !important;
  background: var(--darker);
  color: var(--primary);
  font-size: 1rem !important;
  align-items: stretch !important;
  min-width: 0 !important;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  min-width: 0 !important;
  overflow: hidden !important;
}


.footer-left {
  align-items: flex-start !important;
}
.footer-center {
  text-align: center !important;
  align-items: center !important;
}
.footer-right {
  align-items: flex-end !important;
  text-align: right !important;
}


.footer-link {
  color: var(--primary);
}

a.footer-link {
  text-decoration: underline;
}

.underline-text {
  text-decoration: underline;
}

.icon-contact {
  height: 1em;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.footer-hours-title {
  margin: 0 0 0.3rem !important;
  font-weight: 600 !important;
  text-align: right !important;
}

.footer-hours {
  margin: 0 !important;
  text-align: right !important;
}


/* par rapport à bootstrap */








/* RESPONSIVE */

@media (max-width: 900px) {
  .hero-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-card {
    margin-bottom: 1.5rem;
  }


  .hero-logo-card {
    margin-right: 0;
    margin-bottom: 1.3rem;
  }

  .section-block-top,
  .section-block-bottom {
    flex-direction: column;
  }


  .reviews-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .footer-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    align-items: center;
  }
}




@media (max-width: 600px) {
  .topbar-inner {
    justify-content: center;
  }

  .topnav {
    gap: 1rem;
    font-size: 0.8rem;
  }

  .hero-title {
    font-size: 1.4rem;
  }

  .section-alt {
    padding: 1.4rem 1.2rem 1.7rem;
  }

  .reviews-grid {
    grid-template-columns: 1fr;
  }
}
